body{
   
    background-color: #f1f8fc;
    padding: 2rem;  
 }
table, th, td{
   border: 1px solid;
   width: 8rem;
}
tr:nth-child(Even){background-color: #eac784;}
table{
    border-collapse: collapse;
    width: 80rem;
}
td{
    text-align: center;
    height: 1rem;
    width: 3rem;
    font-size: 1rem;
    text-align: -webkit-center;

}
th{
    height: 2rem;
}
.Button, .add {
    background-color: #0b421a;
    color: #FFF;
    border-radius: 8px;
    border: none;
    width: 5rem;
    height: 2rem;
    margin: .2rem;
}
.Edit{
    display: none;
}